<div class="px-10 py-6 text-gray-100 border-b shadow-xl">
  <div class="container flex items-center justify-between mx-auto">
    <div>
      <a
        class="cursor-pointer"
        style="
          background: -webkit-linear-gradient(
            130deg,
            rgba(84, 232, 146, 1) 43%,
            rgba(32, 206, 201, 1) 49%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
        >Home</a
      >
    </div>
    <div>
      <img src="assets/images/ZawLogo.png" alt="" class="w-24 h-10" />
    </div>
    <div>
      <a
        class="cursor-pointer"
        style="
          background: -webkit-linear-gradient(
            130deg,
            rgba(84, 232, 146, 1) 43%,
            rgba(32, 206, 201, 1) 49%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
        (click)="aboutme()"
        >About Me</a
      >
    </div>
  </div>
</div>
