<section class="about-body">
  <div class="aboutme">
    <div class="insta">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg"
        alt="#"
        height="28px"
        width="28px"
      />
      <a
        href="https://www.instagram.com/zahraspw?igsh=MWVleTg5dTR5NHc3ZQ%3D%3D&utm_source=qr"
        >آدرس آینستگرام zahraspw</a
      >
    </div>

    <div class="telephon">
      <a href="tel:+09031352072" style="font-size: 20px"
        >شماره تماس و واتساپ:</a
      >
      <a href="tel:+09031352072">09031352072</a>
    </div>
  </div>
</section>
