@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Caveat", cursive;
  font-size: 24px !important;
  font-weight: 800 !important;
}

.container-img {
  width: 1400px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}

.container-img .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.container-img .box img {
  max-width: 100%;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .container-img {
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px) {
  .container-img {
    columns: 3;
  }
}
@media (max-width: 480px) {
  .container-img {
    columns: 2;
  }
}
